* {
    box-sizing: border-box;
    margin:0;
  }

body {
    
    font-family: Arial, sans-serif;
    background-color: rgb(21, 21, 77); 
    
}


header {
    color:rgb(162, 162, 184);
}
header h1{ 
    padding:0.5em;
    margin-bottom:0.5em;
}
header p{
    padding-left:1em;
}

#reflection-img{
    float:right;
    max-width: 50%;
    margin:0.5em;
}
#main{
    padding:1em;
    margin-left:0.5em;
    color:cadetblue;
    line-height:2em;
    position:relative;
    
}
#main p{
    margin-bottom: 2em;
}
nav{
    padding:1em;
    margin-top:1em;
    min-width:100%;   
}
#site-nav{
    
    display:flex;
    flex-direction: column;
    align-items:stretch;
    list-style-type:none;
    padding:0;

   
}
li{
    background-color:#333;
    border:1px solid white;
    border-radius:0.5em;
    flex:1 1 0;
    text-align:center;
    padding:0;
       
}
a{  
    display:inline-block;
    padding:1.3em; 
    color:white;
    text-decoration: none;
    width:100%;
    height:100%;  
}
a:hover{
    background-color: grey;
}
footer{
    max-height: 10vh;
    text-align: center;
}
footer a:nth-child(odd){
    background-color: rgb(210, 148, 158,0.2);

}
footer a:hover{
    background-color: grey;
}

@media only screen and (min-width: 570px){
    #site-nav{
        flex-direction: row;  
    }
    header{
        padding:1em 1em 0 1em; 
    }
    #reflection-img{
        max-width: 60%;
    }
  
}